
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(222, 222, 222); 
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

span {
    color:brown;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-text {
    font-size: 12px;
    color: #6c757d;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 14px;
    color: #333;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: brown;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.mb-3 {
    margin-bottom: 1rem;
}

.tab {
    margin: 5px;
}

p {
    font-size: 15px;
    color: black;
}